@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #1c1e53;
  transition: color 0.3s ease;
}

a:hover {
  color: #5e3bee !important;
}

h5 {
  font-size: 6vh;
}
h4 {
  font-size: 3vh;
}
li {
  list-style: none;
}
/*--------------------------NAV BAR-----------------------*/
nav ul,
footer .top ul {
  display: flex;
  gap: 40px;
}
nav {
  background-color: #fff;
  position: sticky;
  top: 0;
  padding: 0 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1);
}
nav button {
  color: #1c1e53;
  background-color: transparent;
  padding: 12px 16px;
  border-radius: 5px;
  border: 1px solid #1c1e53;
  cursor: pointer;
  transition: all 0.3s ease;
}

nav button:hover {
  background-color: #5e3bee;
  border-color: #5e3bee;
  color: #fff;
}

nav button#menuButton {
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 7px;
}

.side-bar {
  position: fixed;
  top: 10px;
  right: 0;
  height: 100vh;
  width: 200px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.358);
  backdrop-filter: blur(10px);
  box-sizing: -10px 0 10px rgb(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  gap: 0px;
}
.side-bar li {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-bar button {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}
.side-bar li:hover {
  background-color: #5e3bee;
  transition: background-color 0.3s ease;
}
.side-bar li:hover a {
  color: #fff !important;
  transition: color 0.2s ease;
}
/*--------------------CONTACT ME------------*/
.background-img {
  position: fixed; /* Asigură că div-ul este poziționat fix pe ecran */
  top: 0;
  left: 0;
  width: 100%; /* Face div-ul să ocupe 100% din lățimea ferestrei */
  height: 100%; /* Face div-ul să ocupe 100% din înălțimea ferestrei */
  background-image: url("assets/contact-background4.webp"); /* Specifică calea către imaginea dorită */
  background-size: cover; /* Asigură că imaginea se întinde pentru a acoperi întregul div */
  background-position: center; /* Poziționează imaginea în centru */
  display: flex;
  z-index: -1;
  opacity: 0.6;
}

.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-left h4 {
  margin-top: 2%;
}

.contact-left .details {
  display: flex;
  flex-direction: column;
}
.contact-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vh;
}
.contact-right h5 {
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: left;
  font-size: 5vh;
}
.contact-right h5 img {
  width: 7vh;
  margin-left: 5px;
}
.contact-inputs {
  width: 60vh;
  height: 6vh;
  padding: 20px;
  outline: none;
  border: 2px #bebfd7 solid;
  font-weight: 500;
  border-radius: 50px;
  resize: none; /* this is for text area*/
}
.contact-right textarea {
  height: 20vh;
  padding-top: 15px;
  border-radius: 20px;
}
.contact-inputs:focus {
  border: 2px solid #5e3bee;
}

.contact-inputs::placeholder {
  color: rgb(50, 48, 101);
  font-size: 2vh;
}

.contact-right button {
  display: flex;
  margin-left: auto; /* Afișează butonul pe partea dreaptă a containerului */
  margin-right: auto;
  padding: 2vh 3vh;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 50px;
  background-color: #5e3bee;
  cursor: pointer;
}

.item {
  display: flex;
  background-color: #deebee;
  width: 50vh;
  height: 10vh;
  border-radius: 10px;
  border-bottom: 4px solid transparent;
  align-items: center;
  justify-content: left;
  margin-top: 5%;
}

.item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 46px;
  height: 46px;
  border-radius: 10px;
  margin: 22px;
}

.item .icon img {
  font-size: 26px;
  color: #006b6a;
}

.item .details p {
  color: #5e3bee;
  cursor: pointer;
}

/*confirm message for copied mail*/
#notification {
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 7px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  right: 59%;
}
#notification img {
  width: 24px; /* Setează lățimea imaginii */
  height: 24px; /* Setează înălțimea imaginii */
  margin-right: 5px; /* Adaugă un mic spațiu între imagine și text */
  vertical-align: middle; /* Aliniază imaginea pe linie cu textul */
}

@media screen and (max-width: 992px) {
  nav button {
    display: none;
  }

  nav ul {
    gap: 20px;
  }

  nav ul li a {
    font-size: 15px;
  }
  .contact-container {
    gap: 40px;
  }
  .contact-left h5 {
    font-size: 3vh;
    margin-left: 10%;
  }
  .contact-left h4 {
    font-size: 2vh;
    margin-left: 10%;
  }
  .item {
    width: 40vh;
  }
  .item .details p {
    font-size: 2vh;
  }
  .item .icon {
    width: 32px;
    height: 32px;
  }
  .contact-right h5 {
    font-size: 3vh;
  }
  .contact-inputs {
    width: 50vh;
  }
  .contact-right button {
    padding: 1.5vh 2vh;
  }
}

@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    padding: 0 42px;
  }

  nav ul {
    display: none;
  }

  nav.open .logo {
    display: none;
  }

  nav.open ul {
    display: flex;
  }

  nav button#menuButton {
    display: flex;
  }
}

@media screen and (max-width: 576px) {
  nav ul li a {
    font-size: 13px;
  }

  nav .logo a {
    font-size: 18px;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: initial;
    height: 100vh;
    margin-top: 8vh;
    gap: 0;
  }
  .contact-container h5 {
    font-size: 4vh;
    margin-left: 0%;
  }
  .contact-container h4 {
    font-size: 3vh;
    margin-left: 0%;
  }
  .contact-right textarea {
    height: 15vh;
  }
}
